<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Django Blog Test</title>
</head>
<body>
    <header class="container center-align">
        <h1>Django Blog Test David Pavlovschii</h1>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}

        <br>

        <a style="display:block" class="center-align" href="/admin">Section Administrateur</a>
    </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>